<!-- profile.component.html -->
<div class="profile">
  <h2>Profile</h2>
  <form (ngSubmit)="submitForm() " style="width: 335px;" >
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" [(ngModel)]="firstName" name="firstName" required>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" [(ngModel)]="lastName" name="lastName" required>
    </div>
    <div class="form-group">
      <label for="userName">User Name:</label>
      <input type="text" id="userName" [(ngModel)]="userName" name="userName" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number:</label>
      <input type="tel" id="phoneNumber" [(ngModel)]="phoneNumber" name="phoneNumber" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <div class="password-input">
          <input type="password" id="password" [(ngModel)]="password" name="password" minlength="8" required>
          <span class="toggle-password" (click)="togglePasswordVisibility()">
            <i class="far" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i>
          </span>
        </div>
        <div class="password-strength">
          {{ passwordStrengthMessage }}
        </div>
      </div>
    <div class="form-group">
      <label for="address">Address:</label>
      <textarea id="address" [(ngModel)]="address" name="address" required></textarea>
    </div>
    <div class="button-group">
      <button type="submit">Submit</button>
      <button type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
